<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<meta name="author" content="Vassilis Rizopoulos"/>
	<link type="text/css" rel="stylesheet" href="css/style.css"/>
	<title>Rubot Worker <%= @@coordinator.status.name %></title>
</head>
<body id="index" onload="">
	<div id="page" align="center">
		<div id="content" style="width:800px">
			<div id="logo">
				<div class="whitetitle" style="margin-top:70px"><%= @@coordinator.status.name %></div>
			</div>
			<div id="topheader">
				<div id="bodytext">
				</div>
			</div>
			<div id="menu">

			</div>
			<div id="submenu">
				<div class="smallgraytext" align="right" style="padding:9px;">
					<a href="/">Home</a> | <a href="cfg">Configuration</a> | <a href="log">Log</a>
				</div>
			</div>
			<div id="contexttext">
				<div style="padding:10px">
					<span class="titletext"><%= @content_title %></span>
				</div>
				<div id="bodytext" align="justify" style="padding:12px;">
					<%=  @content %>
				</div>
			</div>
			<div id="footer">

			</div>
		</div>
	</div>
</body>
</html>